body {
  font-family: var(--paragraph-p2-semibold-font-family);
  /* background-color: white;
    margin: 54px 73px;
    font-size:  var(--paragraph-p3-regular-font-size);
    font-weight: var(--paragraph-p3-regular-font-weight); */

  max-width: 1440px;
  margin: 0;
  background: linear-gradient(357deg, #2ea2b3 34.87%, #012332 97.52%);
  background-attachment: fixed;
  background-size: cover;
}

.upper {
  margin: 0 !important;
  background-image: url("../image/tutorial-navbar.jpg");
  height: 902px;
  padding-top: 54px;
  background-size: cover;
  background-position: center;
}
.navbar {
  margin: 0 !important;
}
.custom-hero {
  height: 1178.0206298828125px;
}
.custom-hero h1 {
  font-size: var(--heading-h2-semibold-font-size);
  font-weight: var(--heading-h2-semibold-font-weight);
  color: #ffffff;
}
.custom-hero p {
  font-size: var(--paragraph-p2-semibold-font-size);
  font-weight: var(--paragraph-p2-semibold-font-weight);
  color: #ffffff;
}
.panduan {
  padding-top: 200px;
  height: 500px;
  align-self: center;
  justify-content: center;
}
.custom-hero .btn-cust {
  font-size: 24px !important;
  background-color: #ef4423;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 30px;
}

/* VIDEO EDUKASI */
.custom-videoED h4{
  margin-top: 120px;
  font-size: var(--heading-h5-bold-font-size);
  font-weight: var(--heading-h5-bold-font-weight);
}
.custom-videoED .container p{
  font-size: var(--paragraph-p3-medium-font-size);
  font-weight: var(--paragraph-p3-medium-font-weight);
}

.gallery {
  margin: 40px 0;
  padding: 0;
}
.caption h5{
  color: #FFF;
  font-size: var(--paragraph-p2-medium-font-size);
  font-weight: var(--paragraph-p2-medium-font-weight);
}
.caption p{
  color: #FFF;
  font-size: var(--paragraph-p4-light-font-size);
  font-weight: var(--paragraph-p4-light-font-weight);
}

.slideshow-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.slide {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  display: block;
}

.slide .card {
  /* margin: 0 !important; */
  border: none;
  border-radius: 20px;
  overflow: hidden;
  /* box-shadow: none; */
  position: relative;
  background: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  text-align: left;
}

.actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-ed{
  background: #ff5722 !important;
  color: white !important;
}
.btn-favorite {
  font-size: 24px;
  background: #ff5722 !important;
  color: white !important;
  background: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-favorite:hover {
  color: red;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 12px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
  border-radius: 30%;
  z-index: 1;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* VIDEO LIST */
.custom-videoL {
  /* height: 910px; */
  margin: 200px auto;
}
.custom-videoL h4 {
  color: #FFF;
  font-size: var(--heading-h5-semibold-font-size);
  font-weight: var(--heading-h5-semibold-font-weight);
}
.custom-videoL .card-body {
  padding: 20px;
}
.custom-videoL .card{
  background-color: transparent !important;
}
.card-body h5 {
  font-size: var(--heading-h5-bold-font-size);
  font-weight: var(--heading-h5-bold-font-weight);
  color: #FFF !important;
}
.video-thumb{
  border-radius: 16px;
}

.kard-1{
  background-image: url(../image/terumbu_karang.png);
  background-size: cover;
}
.kard-2{
  background-image: url(../image/pelestarian.png);
  background-size: cover;
}
.kard-3{
  background-image: url(../image/konservasi.png);
  background-size: cover;
}
.kard-4{
  background-image: url(../image/sampah-plastik.png);
  background-size: cover;
}
.kard-5{
  background-image: url(../image/yuk-olah.png);
  background-size: cover;
}
.kard-6{
  background-image: url(../image/one-for-all.png);
  background-size: cover;
}
.btn-sm {
  background-color: #ED4418;
  border-radius: 8px;
  font-size: var(--paragraph-p5-medium-font-size);
  font-weight: var(--paragraph-p5-medium-font-weight);
  color: #FFF;
}


/* Play icon kiri bawah */
.play-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
  color: #fff;
  background: #ED4418;
  border-radius: 50%;
  /* padding: 5px; */
}

/* Heart icon kanan atas */
.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #ED4418;;
}

/* VIDEO MANGROVE */
.custom-mangrove .container{
  width: 1200px !important;
}
.custom-mangrove h4 {
  color: #FFF;
  font-size: var(--heading-h5-semibold-font-size);
  font-weight: var(--heading-h5-semibold-font-weight);
}
.custom-mangrove p{
  color: #FFF;
  font-size: var(--paragraph-p1-semibold-font-size);
  font-weight: var(--paragraph-p1-semibold-font-weight);
}
.custom-mangrove .cap{
  margin-top: 5px;
  width: 980px;
  color: #FFF !important;
  font-size: var(--paragraph-p4-regular-font-size);
  font-weight: var(--paragraph-p4-regular-font-weight);
}
.custom-mangrove .card-body {
  padding: 20px;
}
.custom-mangrove .card{
  background-color: transparent !important;
}
.card-body h5 {
  font-size: var(--heading-h5-bold-font-size);
  font-weight: var(--heading-h5-bold-font-weight);
  color: #FFF !important;
}
.video-thumb{
  border-radius: 16px;
}
.cust-capt p{
  color: #FFF;
  font-size: var(--paragraph-p4-medium-font-size);
  font-weight: var(--paragraph-p4-medium-font-weight);
}
.cust-capt small{
  color: #FFF;
  font-size: var(--caption-c1-light-font-size);
  font-weight: var(--caption-c1-light-font-weight);
}

.kardm-1{
  background-image: url(../image/mt-laut.png);
  background-size: cover;
}
.kardm-2{
  background-image: url(../image/m-pesisir.png);
  background-size: cover;
}
.kardm-3{
  background-image: url(../image/m-imut.png);
  background-size: cover;
}
.kardm-4{
  background-image: url(../image/m-onefor.png);
  background-size: cover;
}
.kardm-5{
  background-image: url(../image/m-berdampak.png);
  background-size: cover;
}
.kardm-6{
  background-image: url(../image/m-bisa.png);
  background-size: cover;
}
.kardm-7{
  background-image: url(../image/m-tumbuhsatu.png);
  background-size: cover;
}
.kardm-8{
  background-image: url(../image/m-rendah.png);
  background-size: cover;
}
@media (max-width: 768px){
  .t-dis{
    display: none;
  }
}
@media (max-width: 430px){
  .m-dis, .t-dis{
    display: none;
  }
}