:root {
  --primarypr-10: rgba(205, 233, 237, 1);
  --primarypr-20: rgba(171, 218, 225, 1);
  --primarypr-30: rgba(129, 199, 209, 1);
  --primarypr-40: rgba(88, 180, 194, 1);
  --primarypr-50: rgba(46, 162, 179, 1);
  --primarypr-60: rgba(4, 143, 164, 1);
  --primarypr-80: rgba(3, 119, 137, 1);
  --primarypr-70: rgba(3, 95, 109, 1);
  --tertiarytr-10: rgba(255, 248, 222, 1);
  --tertiarytr-20: rgba(255, 244, 200, 1);
  --tertiarytr-30: rgba(255, 238, 172, 1);
  --tertiarytr-40: rgba(255, 233, 144, 1);
  --tertiarytr-50: rgba(255, 227, 117, 1);
  --tertiarytr-60: rgba(255, 222, 89, 1);
  --tertiarytr-70: rgba(212, 185, 74, 1);
  --tertiarytr-80: rgba(170, 148, 59, 1);
  --secondarysc-10: rgba(251, 218, 209, 1);
  --secondarysc-30: rgba(246, 161, 139, 1);
  --secondarysc-40: rgba(243, 130, 101, 1);
  --secondarysc-50: rgba(240, 99, 62, 1);
  --secondarysc-60: rgba(237, 68, 24, 1);
  --secondarysc-70: rgba(197, 57, 20, 1);
  --secondarysc-80: rgba(158, 45, 16, 1);
  --blackbl-10: rgba(126, 126, 126, 1);
  --blackbl-20: rgba(99, 99, 99, 1);
  --blackbl-30: rgba(75, 75, 75, 1);
  --blackbl-40: rgba(57, 57, 57, 1);
  --blackbl-50: rgba(37, 37, 37, 1);
  --blackbl-60: rgba(28, 28, 28, 1);
  --whitewh-10: rgba(141, 141, 141, 1);
  --whitewh-20: rgba(161, 161, 161, 1);
  --whitewh-30: rgba(187, 187, 187, 1);
  --whitewh-40: rgba(218, 218, 218, 1);
  --whitewh-50: rgba(240, 240, 240, 1);
  --ttile-t11-regular-font-family: "Mona Sans", sans-serif;
  --ttile-t11-regular-font-weight: 400;
  --ttile-t11-regular-font-size: 128px;
  --ttile-t11-regular-letter-spacing: 0px;
  --ttile-t11-regular-line-height: 128px;
  --ttile-t11-regular-font-style: normal;
  --ttile-t11-light-font-family: "Mona Sans", sans-serif;
  --ttile-t11-light-font-weight: 300;
  --ttile-t11-light-font-size: 128px;
  --ttile-t11-light-letter-spacing: 0px;
  --ttile-t11-light-line-height: 128px;
  --ttile-t11-light-font-style: normal;
  --ttile-t11-medium-font-family: "Mona Sans", sans-serif;
  --ttile-t11-medium-font-weight: 500;
  --ttile-t11-medium-font-size: 128px;
  --ttile-t11-medium-letter-spacing: 0px;
  --ttile-t11-medium-line-height: 128px;
  --ttile-t11-medium-font-style: normal;
  --ttile-t11-semibold-font-family: "Mona Sans", sans-serif;
  --ttile-t11-semibold-font-weight: 600;
  --ttile-t11-semibold-font-size: 128px;
  --ttile-t11-semibold-letter-spacing: 0px;
  --ttile-t11-semibold-line-height: 128px;
  --ttile-t11-semibold-font-style: normal;
  --ttile-t11-bold-font-family: "Mona Sans", sans-serif;
  --ttile-t11-bold-font-weight: 700;
  --ttile-t11-bold-font-size: 128px;
  --ttile-t11-bold-letter-spacing: 0px;
  --ttile-t11-bold-line-height: 128px;
  --ttile-t11-bold-font-style: normal;
  --title-t2-regular-font-family: "Mona Sans", sans-serif;
  --title-t2-regular-font-weight: 400;
  --title-t2-regular-font-size: 96px;
  --title-t2-regular-letter-spacing: 0px;
  --title-t2-regular-line-height: 96px;
  --title-t2-regular-font-style: normal;
  --title-t2-light-font-family: "Mona Sans", sans-serif;
  --title-t2-light-font-weight: 300;
  --title-t2-light-font-size: 96px;
  --title-t2-light-letter-spacing: 0px;
  --title-t2-light-line-height: 96px;
  --title-t2-light-font-style: normal;
  --title-t2-medium-font-family: "Mona Sans", sans-serif;
  --title-t2-medium-font-weight: 500;
  --title-t2-medium-font-size: 96px;
  --title-t2-medium-letter-spacing: 0px;
  --title-t2-medium-line-height: 96px;
  --title-t2-medium-font-style: normal;
  --title-t2-semibold-font-family: "Mona Sans", sans-serif;
  --title-t2-semibold-font-weight: 600;
  --title-t2-semibold-font-size: 96px;
  --title-t2-semibold-letter-spacing: 0px;
  --title-t2-semibold-line-height: 96px;
  --title-t2-semibold-font-style: normal;
  --title-t2-bold-font-family: "Mona Sans", sans-serif;
  --title-t2-bold-font-weight: 700;
  --title-t2-bold-font-size: 96px;
  --title-t2-bold-letter-spacing: 0px;
  --title-t2-bold-line-height: 96px;
  --title-t2-bold-font-style: normal;
  --heading-h1-regular-font-family: "Mona Sans", sans-serif;
  --heading-h1-regular-font-weight: 400;
  --heading-h1-regular-font-size: 80px;
  --heading-h1-regular-letter-spacing: 0px;
  --heading-h1-regular-line-height: 80px;
  --heading-h1-regular-font-style: normal;
  --heading-h1-light-font-family: "Mona Sans", sans-serif;
  --heading-h1-light-font-weight: 300;
  --heading-h1-light-font-size: 80px;
  --heading-h1-light-letter-spacing: 0px;
  --heading-h1-light-line-height: 80px;
  --heading-h1-light-font-style: normal;
  --heading-h1-medium-font-family: "Mona Sans", sans-serif;
  --heading-h1-medium-font-weight: 500;
  --heading-h1-medium-font-size: 80px;
  --heading-h1-medium-letter-spacing: 0px;
  --heading-h1-medium-line-height: 80px;
  --heading-h1-medium-font-style: normal;
  --heading-h1-semibold-font-family: "Mona Sans", sans-serif;
  --heading-h1-semibold-font-weight: 600;
  --heading-h1-semibold-font-size: 80px;
  --heading-h1-semibold-letter-spacing: 0px;
  --heading-h1-semibold-line-height: 80px;
  --heading-h1-semibold-font-style: normal;
  --heading-h1-bold-font-family: "Mona Sans", sans-serif;
  --heading-h1-bold-font-weight: 700;
  --heading-h1-bold-font-size: 80px;
  --heading-h1-bold-letter-spacing: 0px;
  --heading-h1-bold-line-height: 80px;
  --heading-h1-bold-font-style: normal;
  --heading-h2-regular-font-family: "Mona Sans", sans-serif;
  --heading-h2-regular-font-weight: 400;
  --heading-h2-regular-font-size: 72px;
  --heading-h2-regular-letter-spacing: 0px;
  --heading-h2-regular-line-height: 72px;
  --heading-h2-regular-font-style: normal;
  --heading-h2-light-font-family:  "Mona Sans", sans-serif;
  --heading-h2-light-font-weight: 300;
  --heading-h2-light-font-size: 72px;
  --heading-h2-light-letter-spacing: 0px;
  --heading-h2-light-line-height: 72px;
  --heading-h2-light-font-style: normal;
  --heading-h2-medium-font-family:  "Mona Sans", sans-serif;
  --heading-h2-medium-font-weight: 500;
  --heading-h2-medium-font-size: 72px;
  --heading-h2-medium-letter-spacing: 0px;
  --heading-h2-medium-line-height: 72px;
  --heading-h2-medium-font-style: normal;
  --heading-h2-semibold-font-family:  "Mona Sans", sans-serif;
  --heading-h2-semibold-font-weight: 600;
  --heading-h2-semibold-font-size: 72px;
  --heading-h2-semibold-letter-spacing: 0px;
  --heading-h2-semibold-line-height: 72px;
  --heading-h2-semibold-font-style: normal;
  --heading-h2-bold-font-family:  "Mona Sans", sans-serif;
  --heading-h2-bold-font-weight: 700;
  --heading-h2-bold-font-size: 72px;
  --heading-h2-bold-letter-spacing: 0px;
  --heading-h2-bold-line-height: 72px;
  --heading-h2-bold-font-style: normal;
  --heading-h3-regular-font-family:  "Mona Sans", sans-serif;
  --heading-h3-regular-font-weight: 400;
  --heading-h3-regular-font-size: 60px;
  --heading-h3-regular-letter-spacing: 0px;
  --heading-h3-regular-line-height: 60px;
  --heading-h3-regular-font-style: normal;
  --heading-h3-light-font-family:  "Mona Sans", sans-serif;
  --heading-h3-light-font-weight: 300;
  --heading-h3-light-font-size: 60px;
  --heading-h3-light-letter-spacing: 0px;
  --heading-h3-light-line-height: 60px;
  --heading-h3-light-font-style: normal;
  --heading-h3-medium-font-family:  "Mona Sans", sans-serif;
  --heading-h3-medium-font-weight: 500;
  --heading-h3-medium-font-size: 60px;
  --heading-h3-medium-letter-spacing: 0px;
  --heading-h3-medium-line-height: 60px;
  --heading-h3-medium-font-style: normal;
  --heading-h3-semibold-font-family:  "Mona Sans", sans-serif;
  --heading-h3-semibold-font-weight: 600;
  --heading-h3-semibold-font-size: 60px;
  --heading-h3-semibold-letter-spacing: 0px;
  --heading-h3-semibold-line-height: 60px;
  --heading-h3-semibold-font-style: normal;
  --heading-h3-bold-font-family:  "Mona Sans", sans-serif;
  --heading-h3-bold-font-weight: 700;
  --heading-h3-bold-font-size: 60px;
  --heading-h3-bold-letter-spacing: 0px;
  --heading-h3-bold-line-height: 60px;
  --heading-h3-bold-font-style: normal;
  --heading-h4-regular-font-family:  "Mona Sans", sans-serif;
  --heading-h4-regular-font-weight: 400;
  --heading-h4-regular-font-size: 48px;
  --heading-h4-regular-letter-spacing: 0px;
  --heading-h4-regular-line-height: 48px;
  --heading-h4-regular-font-style: normal;
  --heading-h4-light-font-family:  "Mona Sans", sans-serif;
  --heading-h4-light-font-weight: 300;
  --heading-h4-light-font-size: 48px;
  --heading-h4-light-letter-spacing: 0px;
  --heading-h4-light-line-height: 48px;
  --heading-h4-light-font-style: normal;
  --heading-h4-medium-font-family:  "Mona Sans", sans-serif;
  --heading-h4-medium-font-weight: 500;
  --heading-h4-medium-font-size: 48px;
  --heading-h4-medium-letter-spacing: 0px;
  --heading-h4-medium-line-height: 48px;
  --heading-h4-medium-font-style: normal;
  --heading-h4-semibold-font-family:  "Mona Sans", sans-serif;
  --heading-h4-semibold-font-weight: 600;
  --heading-h4-semibold-font-size: 48px;
  --heading-h4-semibold-letter-spacing: 0px;
  --heading-h4-semibold-line-height: 48px;
  --heading-h4-semibold-font-style: normal;
  --heading-h4-bold-font-family:  "Mona Sans", sans-serif;
  --heading-h4-bold-font-weight: 700;
  --heading-h4-bold-font-size: 48px;
  --heading-h4-bold-letter-spacing: 0px;
  --heading-h4-bold-line-height: 48px;
  --heading-h4-bold-font-style: normal;
  --heading-h5-regular-font-family:  "Mona Sans", sans-serif;
  --heading-h5-regular-font-weight: 400;
  --heading-h5-regular-font-size: 36px;
  --heading-h5-regular-letter-spacing: 0px;
  --heading-h5-regular-line-height: 40px;
  --heading-h5-regular-font-style: normal;
  --heading-h5-light-font-family:  "Mona Sans", sans-serif;
  --heading-h5-light-font-weight: 300;
  --heading-h5-light-font-size: 36px;
  --heading-h5-light-letter-spacing: 0px;
  --heading-h5-light-line-height: 40px;
  --heading-h5-light-font-style: normal;
  --heading-h5-medium-font-family:  "Mona Sans", sans-serif;
  --heading-h5-medium-font-weight: 500;
  --heading-h5-medium-font-size: 36px;
  --heading-h5-medium-letter-spacing: 0px;
  --heading-h5-medium-line-height: 40px;
  --heading-h5-medium-font-style: normal;
  --heading-h5-semibold-font-family:  "Mona Sans", sans-serif;
  --heading-h5-semibold-font-weight: 600;
  --heading-h5-semibold-font-size: 36px;
  --heading-h5-semibold-letter-spacing: 0px;
  --heading-h5-semibold-line-height: 40px;
  --heading-h5-semibold-font-style: normal;
  --heading-h5-bold-font-family:  "Mona Sans", sans-serif;
  --heading-h5-bold-font-weight: 700;
  --heading-h5-bold-font-size: 36px;
  --heading-h5-bold-letter-spacing: 0px;
  --heading-h5-bold-line-height: 40px;
  --heading-h5-bold-font-style: normal;
  --paragraph-p1-regular-font-family:  "Mona Sans", sans-serif;
  --paragraph-p1-regular-font-weight: 400;
  --paragraph-p1-regular-font-size: 30px;
  --paragraph-p1-regular-letter-spacing: 0px;
  --paragraph-p1-regular-line-height: 36px;
  --paragraph-p1-regular-font-style: normal;
  --paragraph-p1-light-font-family:  "Mona Sans", sans-serif;
  --paragraph-p1-light-font-weight: 300;
  --paragraph-p1-light-font-size: 30px;
  --paragraph-p1-light-letter-spacing: 0px;
  --paragraph-p1-light-line-height: 36px;
  --paragraph-p1-light-font-style: normal;
  --paragraph-p1-medium-font-family:  "Mona Sans", sans-serif;
  --paragraph-p1-medium-font-weight: 500;
  --paragraph-p1-medium-font-size: 30px;
  --paragraph-p1-medium-letter-spacing: 0px;
  --paragraph-p1-medium-line-height: 36px;
  --paragraph-p1-medium-font-style: normal;
  --paragraph-p1-semibold-font-family:  "Mona Sans", sans-serif;
  --paragraph-p1-semibold-font-weight: 600;
  --paragraph-p1-semibold-font-size: 30px;
  --paragraph-p1-semibold-letter-spacing: 0px;
  --paragraph-p1-semibold-line-height: 36px;
  --paragraph-p1-semibold-font-style: normal;
  --paragraph-p1-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-p1-bold-font-weight: 700;
  --paragraph-p1-bold-font-size: 30px;
  --paragraph-p1-bold-letter-spacing: 0px;
  --paragraph-p1-bold-line-height: 36px;
  --paragraph-p1-bold-font-style: normal;
  --paragraph-p2-regular-font-family:  "Mona Sans", sans-serif;
  --paragraph-p2-regular-font-weight: 400;
  --paragraph-p2-regular-font-size: 28px;
  --paragraph-p2-regular-letter-spacing: 0px;
  --paragraph-p2-regular-line-height: 35px;
  --paragraph-p2-regular-font-style: normal;
  --paragraph-p2-light-font-family:  "Mona Sans", sans-serif;
  --paragraph-p2-light-font-weight: 300;
  --paragraph-p2-light-font-size: 28px;
  --paragraph-p2-light-letter-spacing: 0px;
  --paragraph-p2-light-line-height: 35px;
  --paragraph-p2-light-font-style: normal;
  --paragraph-p2-medium-font-family:  "Mona Sans", sans-serif;
  --paragraph-p2-medium-font-weight: 500;
  --paragraph-p2-medium-font-size: 28px;
  --paragraph-p2-medium-letter-spacing: 0px;
  --paragraph-p2-medium-line-height: 35px;
  --paragraph-p2-medium-font-style: normal;
  --paragraph-p2-semibold-font-family:  "Mona Sans", sans-serif;
  --paragraph-p2-semibold-font-weight: 600;
  --paragraph-p2-semibold-font-size: 28px;
  --paragraph-p2-semibold-letter-spacing: 0px;
  --paragraph-p2-semibold-line-height: 35px;
  --paragraph-p2-semibold-font-style: normal;
  --paragraph-p2-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-p2-bold-font-weight: 700;
  --paragraph-p2-bold-font-size: 28px;
  --paragraph-p2-bold-letter-spacing: 0px;
  --paragraph-p2-bold-line-height: 35px;
  --paragraph-p2-bold-font-style: normal;
  --paragraph-p3-regular-font-family:  "Mona Sans", sans-serif;
  --paragraph-p3-regular-font-weight: 400;
  --paragraph-p3-regular-font-size: 24px;
  --paragraph-p3-regular-letter-spacing: 0px;
  --paragraph-p3-regular-line-height: 36px;
  --paragraph-p3-regular-font-style: normal;
  --paragraph-p3-light-font-family:  "Mona Sans", sans-serif;
  --paragraph-p3-light-font-weight: 300;
  --paragraph-p3-light-font-size: 24px;
  --paragraph-p3-light-letter-spacing: 0px;
  --paragraph-p3-light-line-height: 36px;
  --paragraph-p3-light-font-style: normal;
  --paragraph-p3-medium-font-family:  "Mona Sans", sans-serif;
  --paragraph-p3-medium-font-weight: 500;
  --paragraph-p3-medium-font-size: 24px;
  --paragraph-p3-medium-letter-spacing: 0px;
  --paragraph-p3-medium-line-height: 36px;
  --paragraph-p3-medium-font-style: normal;
  --paragraph-p3-semibold-font-family:  "Mona Sans", sans-serif;
  --paragraph-p3-semibold-font-weight: 600;
  --paragraph-p3-semibold-font-size: 24px;
  --paragraph-p3-semibold-letter-spacing: 0px;
  --paragraph-p3-semibold-line-height: 36px;
  --paragraph-p3-semibold-font-style: normal;
  --paragraph-p3-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-p3-bold-font-weight: 700;
  --paragraph-p3-bold-font-size: 24px;
  --paragraph-p3-bold-letter-spacing: 0px;
  --paragraph-p3-bold-line-height: 36px;
  --paragraph-p3-bold-font-style: normal;
  --paragraph-p4-regular-font-family:  "Mona Sans", sans-serif;
  --paragraph-p4-regular-font-weight: 400;
  --paragraph-p4-regular-font-size: 18px;
  --paragraph-p4-regular-letter-spacing: 0px;
  --paragraph-p4-regular-line-height: 27px;
  --paragraph-p4-regular-font-style: normal;
  --paragraph-p4-light-font-family:  "Mona Sans", sans-serif;
  --paragraph-p4-light-font-weight: 300;
  --paragraph-p4-light-font-size: 18px;
  --paragraph-p4-light-letter-spacing: 0px;
  --paragraph-p4-light-line-height: 27px;
  --paragraph-p4-light-font-style: normal;
  --paragraph-p4-medium-font-family:  "Mona Sans", sans-serif;
  --paragraph-p4-medium-font-weight: 500;
  --paragraph-p4-medium-font-size: 18px;
  --paragraph-p4-medium-letter-spacing: 0px;
  --paragraph-p4-medium-line-height: 27px;
  --paragraph-p4-medium-font-style: normal;
  --paragraph-p4-semibold-font-family:  "Mona Sans", sans-serif;
  --paragraph-p4-semibold-font-weight: 600;
  --paragraph-p4-semibold-font-size: 18px;
  --paragraph-p4-semibold-letter-spacing: 0px;
  --paragraph-p4-semibold-line-height: 27px;
  --paragraph-p4-semibold-font-style: normal;
  --paragraph-p4-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-p4-bold-font-weight: 700;
  --paragraph-p4-bold-font-size: 18px;
  --paragraph-p4-bold-letter-spacing: 0px;
  --paragraph-p4-bold-line-height: 27px;
  --paragraph-p4-bold-font-style: normal;
  --paragraph-p5-regular-font-family:  "Mona Sans", sans-serif;
  --paragraph-p5-regular-font-weight: 400;
  --paragraph-p5-regular-font-size: 16px;
  --paragraph-p5-regular-letter-spacing: 0px;
  --paragraph-p5-regular-line-height: 24px;
  --paragraph-p5-regular-font-style: normal;
  --paragraph-p5-light-font-family:  "Mona Sans", sans-serif;
  --paragraph-p5-light-font-weight: 300;
  --paragraph-p5-light-font-size: 16px;
  --paragraph-p5-light-letter-spacing: 0px;
  --paragraph-p5-light-line-height: 24px;
  --paragraph-p5-light-font-style: normal;
  --paragraph-p5-medium-font-family:  "Mona Sans", sans-serif;
  --paragraph-p5-medium-font-weight: 500;
  --paragraph-p5-medium-font-size: 16px;
  --paragraph-p5-medium-letter-spacing: 0px;
  --paragraph-p5-medium-line-height: 24px;
  --paragraph-p5-medium-font-style: normal;
  --paragraph-p5-semibold-font-family:  "Mona Sans", sans-serif;
  --paragraph-p5-semibold-font-weight: 600;
  --paragraph-p5-semibold-font-size: 16px;
  --paragraph-p5-semibold-letter-spacing: 0px;
  --paragraph-p5-semibold-line-height: 24px;
  --paragraph-p5-semibold-font-style: normal;
  --paragraph-p5-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-p5-bold-font-weight: 700;
  --paragraph-p5-bold-font-size: 16px;
  --paragraph-p5-bold-letter-spacing: 0px;
  --paragraph-p5-bold-line-height: 24px;
  --paragraph-p5-bold-font-style: normal;
  --caption-c1-regular-font-family:  "Mona Sans", sans-serif;
  --caption-c1-regular-font-weight: 400;
  --caption-c1-regular-font-size: 14px;
  --caption-c1-regular-letter-spacing: 0px;
  --caption-c1-regular-line-height: 20px;
  --caption-c1-regular-font-style: normal;
  --caption-c1-light-font-family:  "Mona Sans", sans-serif;
  --caption-c1-light-font-weight: 300;
  --caption-c1-light-font-size: 14px;
  --caption-c1-light-letter-spacing: 0px;
  --caption-c1-light-line-height: 20px;
  --caption-c1-light-font-style: normal;
  --caption-c1-medium-font-family:  "Mona Sans", sans-serif;
  --caption-c1-medium-font-weight: 500;
  --caption-c1-medium-font-size: 14px;
  --caption-c1-medium-letter-spacing: 0px;
  --caption-c1-medium-line-height: 20px;
  --caption-c1-medium-font-style: normal;
  --caption-c1-semibold-font-family:  "Mona Sans", sans-serif;
  --caption-c1-semibold-font-weight: 600;
  --caption-c1-semibold-font-size: 14px;
  --caption-c1-semibold-letter-spacing: 0px;
  --caption-c1-semibold-line-height: 20px;
  --caption-c1-semibold-font-style: normal;
  --caption-c1-bold-font-family:  "Mona Sans", sans-serif;
  --caption-c1-bold-font-weight: 700;
  --caption-c1-bold-font-size: 14px;
  --caption-c1-bold-letter-spacing: 0px;
  --caption-c1-bold-line-height: 20px;
  --caption-c1-bold-font-style: normal;
  --caption-mobile-light-font-family:  "Mona Sans", sans-serif;
  --caption-mobile-light-font-weight: 300;
  --caption-mobile-light-font-size: 7px;
  --caption-mobile-light-letter-spacing: 0px;
  --caption-mobile-light-line-height: 10px;
  --caption-mobile-light-font-style: normal;
  --caption-mobile-regular-font-family:  "Mona Sans", sans-serif;
  --caption-mobile-regular-font-weight: 400;
  --caption-mobile-regular-font-size: 7px;
  --caption-mobile-regular-letter-spacing: 0px;
  --caption-mobile-regular-line-height: 10px;
  --caption-mobile-regular-font-style: normal;
  --caption-mobile-medium-font-family: "Inter", Helvetica;
  --caption-mobile-medium-font-weight: 500;
  --caption-mobile-medium-font-size: 7px;
  --caption-mobile-medium-letter-spacing: 0px;
  --caption-mobile-medium-line-height: 10px;
  --caption-mobile-medium-font-style: normal;
  --caption-mobile-semi-bold-font-family: "Inter", Helvetica;
  --caption-mobile-semi-bold-font-weight: 600;
  --caption-mobile-semi-bold-font-size: 7px;
  --caption-mobile-semi-bold-letter-spacing: 0px;
  --caption-mobile-semi-bold-line-height: 10px;
  --caption-mobile-semi-bold-font-style: normal;
  --caption-mobile-bold-font-family: "Inter", Helvetica;
  --caption-mobile-bold-font-weight: 700;
  --caption-mobile-bold-font-size: 7px;
  --caption-mobile-bold-letter-spacing: 0px;
  --caption-mobile-bold-line-height: 10px;
  --caption-mobile-bold-font-style: normal;
  --paragraph-mobile-p1-light-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p1-light-font-weight: 300;
  --paragraph-mobile-p1-light-font-size: 10px;
  --paragraph-mobile-p1-light-letter-spacing: 0px;
  --paragraph-mobile-p1-light-line-height: 10px;
  --paragraph-mobile-p1-light-font-style: normal;
  --paragraph-mobile-p1-regular-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p1-regular-font-weight: 400;
  --paragraph-mobile-p1-regular-font-size: 10px;
  --paragraph-mobile-p1-regular-letter-spacing: 0px;
  --paragraph-mobile-p1-regular-line-height: 13px;
  --paragraph-mobile-p1-regular-font-style: normal;
  --paragraph-mobile-p1-medium-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p1-medium-font-weight: 500;
  --paragraph-mobile-p1-medium-font-size: 10px;
  --paragraph-mobile-p1-medium-letter-spacing: 0px;
  --paragraph-mobile-p1-medium-line-height: 13px;
  --paragraph-mobile-p1-medium-font-style: normal;
  --paragraph-mobile-p1-semi-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p1-semi-bold-font-weight: 600;
  --paragraph-mobile-p1-semi-bold-font-size: 10px;
  --paragraph-mobile-p1-semi-bold-letter-spacing: 0px;
  --paragraph-mobile-p1-semi-bold-line-height: 13px;
  --paragraph-mobile-p1-semi-bold-font-style: normal;
  --paragraph-mobile-p1-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p1-bold-font-weight: 700;
  --paragraph-mobile-p1-bold-font-size: 10px;
  --paragraph-mobile-p1-bold-letter-spacing: 0px;
  --paragraph-mobile-p1-bold-line-height: 13px;
  --paragraph-mobile-p1-bold-font-style: normal;
  --paragraph-mobile-p2-ligth-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p2-ligth-font-weight: 300;
  --paragraph-mobile-p2-ligth-font-size: 9px;
  --paragraph-mobile-p2-ligth-letter-spacing: 0px;
  --paragraph-mobile-p2-ligth-line-height: 12px;
  --paragraph-mobile-p2-ligth-font-style: normal;
  --paragraph-mobile-p2-regular-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p2-regular-font-weight: 400;
  --paragraph-mobile-p2-regular-font-size: 9px;
  --paragraph-mobile-p2-regular-letter-spacing: 0px;
  --paragraph-mobile-p2-regular-line-height: 12px;
  --paragraph-mobile-p2-regular-font-style: normal;
  --paragraph-mobile-p2-medium-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p2-medium-font-weight: 500;
  --paragraph-mobile-p2-medium-font-size: 9px;
  --paragraph-mobile-p2-medium-letter-spacing: 0px;
  --paragraph-mobile-p2-medium-line-height: 12px;
  --paragraph-mobile-p2-medium-font-style: normal;
  --paragraph-mobile-p2-semi-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p2-semi-bold-font-weight: 600;
  --paragraph-mobile-p2-semi-bold-font-size: 9px;
  --paragraph-mobile-p2-semi-bold-letter-spacing: 0px;
  --paragraph-mobile-p2-semi-bold-line-height: 2px;
  --paragraph-mobile-p2-semi-bold-font-style: normal;
  --paragraph-mobile-p2-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p2-bold-font-weight: 700;
  --paragraph-mobile-p2-bold-font-size: 9px;
  --paragraph-mobile-p2-bold-letter-spacing: 0px;
  --paragraph-mobile-p2-bold-line-height: 12px;
  --paragraph-mobile-p2-bold-font-style: normal;
  --paragraph-mobile-p3-light-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p3-light-font-weight: 300;
  --paragraph-mobile-p3-light-font-size: 8.5px;
  --paragraph-mobile-p3-light-letter-spacing: 0px;
  --paragraph-mobile-p3-light-line-height: 12px;
  --paragraph-mobile-p3-light-font-style: normal;
  --paragraph-mobile-p3-regular-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p3-regular-font-weight: 400;
  --paragraph-mobile-p3-regular-font-size: 8.5px;
  --paragraph-mobile-p3-regular-letter-spacing: 0px;
  --paragraph-mobile-p3-regular-line-height: 12px;
  --paragraph-mobile-p3-regular-font-style: normal;
  --paragraph-mobile-p3-medium-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p3-medium-font-weight: 400;
  --paragraph-mobile-p3-medium-font-size: 8.5px;
  --paragraph-mobile-p3-medium-letter-spacing: 0px;
  --paragraph-mobile-p3-medium-line-height: 12px;
  --paragraph-mobile-p3-medium-font-style: normal;
  --paragraph-mobile-p3-semi-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p3-semi-bold-font-weight: 400;
  --paragraph-mobile-p3-semi-bold-font-size: 8.5px;
  --paragraph-mobile-p3-semi-bold-letter-spacing: 0px;
  --paragraph-mobile-p3-semi-bold-line-height: 12px;
  --paragraph-mobile-p3-semi-bold-font-style: normal;
  --paragraph-mobile-p3-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p3-bold-font-weight: 400;
  --paragraph-mobile-p3-bold-font-size: 8.5px;
  --paragraph-mobile-p3-bold-letter-spacing: 0px;
  --paragraph-mobile-p3-bold-line-height: 12px;
  --paragraph-mobile-p3-bold-font-style: normal;
  --paragraph-mobile-p4-light-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p4-light-font-weight: 300;
  --paragraph-mobile-p4-light-font-size: 8px;
  --paragraph-mobile-p4-light-letter-spacing: 0px;
  --paragraph-mobile-p4-light-line-height: 12px;
  --paragraph-mobile-p4-light-font-style: normal;
  --paragraph-mobile-p4-regular-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p4-regular-font-weight: 400;
  --paragraph-mobile-p4-regular-font-size: 8px;
  --paragraph-mobile-p4-regular-letter-spacing: 0px;
  --paragraph-mobile-p4-regular-line-height: 10px;
  --paragraph-mobile-p4-regular-font-style: normal;
  --paragraph-mobile-p4-medium-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p4-medium-font-weight: 500;
  --paragraph-mobile-p4-medium-font-size: 8px;
  --paragraph-mobile-p4-medium-letter-spacing: 0px;
  --paragraph-mobile-p4-medium-line-height: 12px;
  --paragraph-mobile-p4-medium-font-style: normal;
  --paragraph-mobile-p4-semi-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p4-semi-bold-font-weight: 600;
  --paragraph-mobile-p4-semi-bold-font-size: 8px;
  --paragraph-mobile-p4-semi-bold-letter-spacing: 0px;
  --paragraph-mobile-p4-semi-bold-line-height: 12px;
  --paragraph-mobile-p4-semi-bold-font-style: normal;
  --paragraph-mobile-p4-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p4-bold-font-weight: 700;
  --paragraph-mobile-p4-bold-font-size: 8px;
  --paragraph-mobile-p4-bold-letter-spacing: 0px;
  --paragraph-mobile-p4-bold-line-height: 12px;
  --paragraph-mobile-p4-bold-font-style: normal;
  --paragraph-mobile-p5-light-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p5-light-font-weight: 300;
  --paragraph-mobile-p5-light-font-size: 7.5px;
  --paragraph-mobile-p5-light-letter-spacing: 0px;
  --paragraph-mobile-p5-light-line-height: 10px;
  --paragraph-mobile-p5-light-font-style: normal;
  --paragraph-mobile-p5-regular-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p5-regular-font-weight: 400;
  --paragraph-mobile-p5-regular-font-size: 7.5px;
  --paragraph-mobile-p5-regular-letter-spacing: 0px;
  --paragraph-mobile-p5-regular-line-height: 10px;
  --paragraph-mobile-p5-regular-font-style: normal;
  --paragraph-mobile-p5-medium-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p5-medium-font-weight: 400;
  --paragraph-mobile-p5-medium-font-size: 7.5px;
  --paragraph-mobile-p5-medium-letter-spacing: 0px;
  --paragraph-mobile-p5-medium-line-height: 10px;
  --paragraph-mobile-p5-medium-font-style: normal;
  --paragraph-mobile-p5-semi-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p5-semi-bold-font-weight: 600;
  --paragraph-mobile-p5-semi-bold-font-size: 7.5px;
  --paragraph-mobile-p5-semi-bold-letter-spacing: 0px;
  --paragraph-mobile-p5-semi-bold-line-height: 10px;
  --paragraph-mobile-p5-semi-bold-font-style: normal;
  --paragraph-mobile-p5-bold-font-family:  "Mona Sans", sans-serif;
  --paragraph-mobile-p5-bold-font-weight: 700;
  --paragraph-mobile-p5-bold-font-size: 7.5px;
  --paragraph-mobile-p5-bold-letter-spacing: 0px;
  --paragraph-mobile-p5-bold-line-height: 10px;
  --paragraph-mobile-p5-bold-font-style: normal;
  --heading-mobile-h5-light-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h5-light-font-weight: 300;
  --heading-mobile-h5-light-font-size: 11px;
  --heading-mobile-h5-light-letter-spacing: 0px;
  --heading-mobile-h5-light-line-height: 11px;
  --heading-mobile-h5-light-font-style: normal;
  --heading-mobile-h5-regular-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h5-regular-font-weight: 400;
  --heading-mobile-h5-regular-font-size: 11px;
  --heading-mobile-h5-regular-letter-spacing: 0px;
  --heading-mobile-h5-regular-line-height: 11px;
  --heading-mobile-h5-regular-font-style: normal;
  --heading-mobile-h5-medium-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h5-medium-font-weight: 500;
  --heading-mobile-h5-medium-font-size: 11px;
  --heading-mobile-h5-medium-letter-spacing: 0px;
  --heading-mobile-h5-medium-line-height: 11px;
  --heading-mobile-h5-medium-font-style: normal;
  --heading-mobile-h5-semi-bold-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h5-semi-bold-font-weight: 600;
  --heading-mobile-h5-semi-bold-font-size: 11px;
  --heading-mobile-h5-semi-bold-letter-spacing: 0px;
  --heading-mobile-h5-semi-bold-line-height: 11px;
  --heading-mobile-h5-semi-bold-font-style: normal;
  --heading-mobile-h5-bold-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h5-bold-font-weight: 700;
  --heading-mobile-h5-bold-font-size: 11px;
  --heading-mobile-h5-bold-letter-spacing: 0px;
  --heading-mobile-h5-bold-line-height: 11px;
  --heading-mobile-h5-bold-font-style: normal;
  --heading-mobile-h4-light-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h4-light-font-weight: 300;
  --heading-mobile-h4-light-font-size: 12px;
  --heading-mobile-h4-light-letter-spacing: 0px;
  --heading-mobile-h4-light-line-height: 15px;
  --heading-mobile-h4-light-font-style: normal;
  --heading-mobile-h4-regular-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h4-regular-font-weight: 400;
  --heading-mobile-h4-regular-font-size: 12px;
  --heading-mobile-h4-regular-letter-spacing: 0px;
  --heading-mobile-h4-regular-line-height: 15px;
  --heading-mobile-h4-regular-font-style: normal;
  --heading-mobile-h4-medium-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h4-medium-font-weight: 500;
  --heading-mobile-h4-medium-font-size: 12px;
  --heading-mobile-h4-medium-letter-spacing: 0px;
  --heading-mobile-h4-medium-line-height: 15px;
  --heading-mobile-h4-medium-font-style: normal;
  --heading-mobile-h4-semi-bold-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h4-semi-bold-font-weight: 600;
  --heading-mobile-h4-semi-bold-font-size: 12px;
  --heading-mobile-h4-semi-bold-letter-spacing: 0px;
  --heading-mobile-h4-semi-bold-line-height: 15px;
  --heading-mobile-h4-semi-bold-font-style: normal;
  --heading-mobile-h4-bold-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h4-bold-font-weight: 700;
  --heading-mobile-h4-bold-font-size: 12px;
  --heading-mobile-h4-bold-letter-spacing: 0px;
  --heading-mobile-h4-bold-line-height: 15px;
  --heading-mobile-h4-bold-font-style: normal;
  --heading-mobile-h3-light-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h3-light-font-weight: 300;
  --heading-mobile-h3-light-font-size: 13px;
  --heading-mobile-h3-light-letter-spacing: 0px;
  --heading-mobile-h3-light-line-height: 15px;
  --heading-mobile-h3-light-font-style: normal;
  --heading-mobile-h3-regular-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h3-regular-font-weight: 400;
  --heading-mobile-h3-regular-font-size: 13px;
  --heading-mobile-h3-regular-letter-spacing: 0px;
  --heading-mobile-h3-regular-line-height: 15px;
  --heading-mobile-h3-regular-font-style: normal;
  --heading-mobile-h3-medium-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h3-medium-font-weight: 500;
  --heading-mobile-h3-medium-font-size: 13px;
  --heading-mobile-h3-medium-letter-spacing: 0px;
  --heading-mobile-h3-medium-line-height: 15px;
  --heading-mobile-h3-medium-font-style: normal;
  --heading-mobile-h3-semi-bold-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h3-semi-bold-font-weight: 400;
  --heading-mobile-h3-semi-bold-font-size: 13px;
  --heading-mobile-h3-semi-bold-letter-spacing: 0px;
  --heading-mobile-h3-semi-bold-line-height: 15px;
  --heading-mobile-h3-semi-bold-font-style: normal;
  --heading-mobile-h3-bold-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h3-bold-font-weight: 700;
  --heading-mobile-h3-bold-font-size: 13px;
  --heading-mobile-h3-bold-letter-spacing: 0px;
  --heading-mobile-h3-bold-line-height: 15px;
  --heading-mobile-h3-bold-font-style: normal;
  --heading-mobile-h2-light-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h2-light-font-weight: 300;
  --heading-mobile-h2-light-font-size: 14px;
  --heading-mobile-h2-light-letter-spacing: 0px;
  --heading-mobile-h2-light-line-height: 16px;
  --heading-mobile-h2-light-font-style: normal;
  --heading-mobile-h2-regular-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h2-regular-font-weight: 400;
  --heading-mobile-h2-regular-font-size: 14px;
  --heading-mobile-h2-regular-letter-spacing: 0px;
  --heading-mobile-h2-regular-line-height: 16px;
  --heading-mobile-h2-regular-font-style: normal;
  --heading-mobile-h2-medium-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h2-medium-font-weight: 500;
  --heading-mobile-h2-medium-font-size: 14px;
  --heading-mobile-h2-medium-letter-spacing: 0px;
  --heading-mobile-h2-medium-line-height: 16px;
  --heading-mobile-h2-medium-font-style: normal;
  --heading-mobile-h2-semi-bold-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h2-semi-bold-font-weight: 600;
  --heading-mobile-h2-semi-bold-font-size: 14px;
  --heading-mobile-h2-semi-bold-letter-spacing: 0px;
  --heading-mobile-h2-semi-bold-line-height: 16px;
  --heading-mobile-h2-semi-bold-font-style: normal;
  --heading-mobile-h2-bold-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h2-bold-font-weight: 700;
  --heading-mobile-h2-bold-font-size: 14px;
  --heading-mobile-h2-bold-letter-spacing: 0px;
  --heading-mobile-h2-bold-line-height: 16px;
  --heading-mobile-h2-bold-font-style: normal;
  --heading-mobile-h1-light-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h1-light-font-weight: 300;
  --heading-mobile-h1-light-font-size: 15px;
  --heading-mobile-h1-light-letter-spacing: 0px;
  --heading-mobile-h1-light-line-height: 17px;
  --heading-mobile-h1-light-font-style: normal;
  --heading-mobile-h1-regular-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h1-regular-font-weight: 400;
  --heading-mobile-h1-regular-font-size: 15px;
  --heading-mobile-h1-regular-letter-spacing: 0px;
  --heading-mobile-h1-regular-line-height: 17px;
  --heading-mobile-h1-regular-font-style: normal;
  --heading-mobile-h1-medium-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h1-medium-font-weight: 500;
  --heading-mobile-h1-medium-font-size: 15px;
  --heading-mobile-h1-medium-letter-spacing: 0px;
  --heading-mobile-h1-medium-line-height: 17px;
  --heading-mobile-h1-medium-font-style: normal;
  --heading-mobile-h1-semi-bold-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h1-semi-bold-font-weight: 600;
  --heading-mobile-h1-semi-bold-font-size: 15px;
  --heading-mobile-h1-semi-bold-letter-spacing: 0px;
  --heading-mobile-h1-semi-bold-line-height: 17px;
  --heading-mobile-h1-semi-bold-font-style: normal;
  --heading-mobile-h1-bold-font-family:  "Mona Sans", sans-serif;
  --heading-mobile-h1-bold-font-weight: 700;
  --heading-mobile-h1-bold-font-size: 15px;
  --heading-mobile-h1-bold-letter-spacing: 0px;
  --heading-mobile-h1-bold-line-height: 17px;
  --heading-mobile-h1-bold-font-style: normal;
  --shadow-1: 0px 4px 4px 0px rgba(28, 28, 28, 0.25);
  --shadow-2: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  --shadow-3: 0px 6px 16px 0px rgba(0, 0, 0, 0.3);
  --shadow-4: 0px 4px 16px -5px rgba(0, 0, 0, 0.45);
}
